.navbar {
    transition: top 0.5s ease;
}

.navbar-hide {
    top: -100px;
}

/* .navbar .nav-item .nav-link{
    padding: 5px 0;
    position: relative;
} */
/* .navbar .nav-item .nav-link::before{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    background-color: #e6e6e6;
    transition: all 0.5s ease;
    transform: scale(0);
}
.navbar .nav-item .nav-link.active::before,
.navbar .nav-item .nav-link::hover::before{
    transform: scale(1);
} */


/* #topheader .navbar-nav li > a { */
    /* color: #fff; */
    /* transition: color .2s;
} */

#topheader .navbar {
    transition: top 0.5s ease;
}


#topheader .navbar-nav li>a:hover {
    border-bottom: 2px solid #fff;
    font-size: 16px;
 }

 /* #topheader .navbar-nav li.active > a {
	border-bottom: 2px solid #fff;
    font-size: 16px;
}

  
  .navbar-dark .navbar-nav .nav-link {
    color: #fff;
  }
   */

